#traffic{
	border : 1px solid black;
	height: 318px;
	width: 112px;
	background: black;
}

.lights{
	height: 100px;
	width: 100px;
	background: grey;
	margin:5px auto;
	border-radius: 50px;
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px;
}

#green {
	background: #031b04;
}


#yellow {
	background: #2f270b;
}

#red {
	background: #320707;
}


